In [2]:
import pandas as pd

allCSV_list = []

for i in range(1723):
    file = pd.read_csv(f'{i}.csv')
    allCSV_list.append(file)

allCSV = pd.concat(allCSV_list, ignore_index=True)

In [5]:
allCSV

                      b1x;b1y;b4x;b4y
0         -0.022;-0.039;-0.129;-0.142
1         -0.105;-0.017;-0.115;-0.122
2         -0.183;-0.098;-0.171;-0.071
3         -0.178;-0.161;-0.112;-0.078
4         -0.208;-0.129;-0.063;-0.066
...                               ...
35287035  -0.117;-0.117;-0.105;-0.137
35287036  -0.029;-0.071;-0.139;-0.249
35287037    -0.183;0.09;-0.137;-0.105
35287038   -0.359;0.049;-0.049;-0.081
35287039       -0.281;0.01;-0.1;0.042

[35287040 rows x 1 columns]